APP_NAME=My Events API
ENVIRONMENT=development
DEBUG=true
API_PREFIX=/api
HOST=0.0.0.0
PORT=8000

POSTGRES_USER=miseventos
POSTGRES_PASSWORD=miseventos
POSTGRES_DB=miseventos
DATABASE_URL=postgresql+psycopg://miseventos:miseventos@db:5432/miseventos
